@import 're-style-font.css';
@import 're-style-base.css';
@import 're-style-select.css';
@import 're-style-button.css';
@import 'variables.css';
@import 're-style-dropdown.css';
@import 're-style-modal.css';
@import 're-style-input.css';

.user-avatar-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 24px;
        height: 24px;
    }
}

#Navbar {
    [data-darkreader-scheme="dark"] & {
        background-color: var(--meet-bg, #2B2E32);
    }
}

.sidebar-menu-container {
    [data-darkreader-scheme="dark"] & {
        background-color: var(--bg-01-dark, #303338);
    }
}

.presentationContainer {
    [data-darkreader-scheme="dark"] & {
        background-color: var(--meet-bg, #2B2E32);
    }
    & .presentation {
        [data-darkreader-scheme="dark"] & {
            background-color: var(--meet-bg, #2B2E32);
        }
    }

    & i,
    & button[aria-describedby="resetZoomDescription"],
    & button[data-test="whiteboardOptionsButton"],
    & select,
    & option{
        color: var(--text-primary-light, #313131) !important;
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD) !important;
        }
    }
}

#presentationToolbarWrapper {
    [data-darkreader-scheme="dark"] & {
        background-color: var(--bg-01-dark, #303338);
    }
}

.pollingContainer {
    width: 440px !important;
    font-family: "FS PF BeauSans Pro", sans-serif;
    padding: 16px !important;
    border-radius: 12px !important;
    background: var(--bg-00-light, #FFF) !important;
    [data-darkreader-scheme="dark"] & {
        background: var(--bg-00-dark, #3B3F43) !important;
    }
    /* shadow-600 */
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px 1px 0px 0px rgba(204, 204, 204, 0.50) inset, 0px 20px 20px -8px rgba(26, 26, 26, 0.28) !important;

    & .pollingQuestionTitle {
        color: var(--Text-Primary, #313131);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
        /* Semibold/L */
        font-size: 18px !important;
        font-style: normal;
        font-weight: 600 !important;
        line-height: 24px; /* 133.333% */
        text-align: left;
    }

    & .pollingQuestionText {
        margin-top: 20px;
        color: var(--Text-Primary, #313131);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
        /* Medium/S */
        font-size: 14px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: 20px; /* 142.857% */
    }

    .pollingAnswers {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px 0 20px 0;
        border-bottom: 1px solid var(--border-00-light, #EFEFEF) !important;

        & .pollingButtonWrapper {
            width: 100% !important;
            padding: 0;

            & .pollingButton {
                text-align: left;
                width: 100% !important;
                padding: var(--p-space-150) var(--p-space-300) !important;
                border: 0.66px solid var(--Border-01, #C8C8C8) !important;
                background: var(--bg-00-light, #FFF) !important;
                overflow: hidden;
                color: var(--Text-Primary, #313131);
                text-overflow: ellipsis;
                max-width: unset;
                border-radius: 8px !important;
                /* Regular/S */
                font-size: 14px !important;
                font-style: normal;
                font-weight: 400 !important;
                line-height: 20px; /* 142.857% */
                [data-darkreader-scheme="dark"] & {
                    color: var(--text-primary-dark, #FCFCFD);
                    background: var(--bg-00-dark, #3B3F43) !important;
                    border: 0.66px solid var(--border-01-dark, #9A9A9A) !important;
                }
                &:hover {
                    background: var(--Highlight-Light-Red, #EB5366) !important;
                    color: var(--neutral-00-light, #FFF) !important;
                }

                & span:hover {
                    opacity: 1;
                }
            }
        }
    }

    & .pollingResponseInputWrapper {
        padding: 20px 0;
        margin: 0;
        border-bottom: 1px solid var(--border-01-light, #C8C8C8) !important;

        & textarea {
            padding: 6px 12px;
            align-items: center;
            /* Regular/S */
            font-size: 14px !important;
            font-style: normal;
            font-weight: 400 !important;
            line-height: 20px; /* 142.857% */

            border-radius: 8px;
            border: 1px solid var(--border-00-light, #EFEFEF) !important;
            color: var(--text-primary-light, #313131);
            background: var(--bg-00-light, #FFFFFF);

            [data-darkreader-scheme="dark"] & {
                color: var(--text-primary-dark, #FCFCFD);
                background: var(--bg-00-dark, #3B3F43);
                border: 1px solid var(--border-00-dark, #4E5358) !important;
            }

            /* Disable horizontal resize */
            resize: vertical;

            &:hover,
            &:focus,
            &:focus-visible {
                border-color: var(--Border-02-hover, #989898) !important;
                outline: none;
            }

            &::placeholder {
                color: var(--Text-Secondary, #6F767E);
                opacity: 1;
            }
        }
    }

    & .pollingSecretHint {
        width: 100% !important;
        max-width: unset;
        margin-top: 12px;
        color: var(--Text-Secondary, #6F767E);
        text-align: left;
        [data-darkreader-scheme="dark"] & {
            color: var(--text-secondary-dark, #C5C9CD);
        }
        /* Regular/S */
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400 !important;
        line-height: 20px; /* 142.857% */
    }
}

.notes {
    font-family: "FS PF BeauSans Pro", sans-serif;
    padding: 16px !important;
    position: relative;
    background: var(--bg-00-light, #FFFFFF) !important;
    [data-darkreader-scheme="dark"] & {
        background: var(--bg-00-dark, #3B3F43) !important;
    }
    & .notes-header-container {
        margin-bottom: 16px;
        @media (max-width: 1024px) {
            max-height: 64px;
            margin-top: -16px;
        }

        & .notes-header {
            color: var(--Text-Primary, #313131);
            [data-darkreader-scheme="dark"] & {
                color: var(--text-primary-dark, #FCFCFD);
            }
            /* Semibold/XL */
            font-size: 20px !important;
            font-style: normal;
            font-weight: 600;
            line-height: 32px !important; /* 160% */
        }

        & .buttonWrapper {
            & span {
                color: var(--Text-Primary, #313131);
                [data-darkreader-scheme="dark"] & {
                    color: var(--text-primary-dark, #FCFCFD);
                }
            }
        }

        & i::before {
            color: var(--text-primary-light, #313131);
        }

        [data-darkreader-scheme="dark"] & {
            & i::before {
                color: var(--text-primary-dark, #FCFCFD);
            }
        }

        & .btnClose {
            display: none;
            align-items: center;
            padding-left: 12px;

            &:hover {
                border-radius: 50%;
                background: var(--bg-04-hover-light, #EFEFEF);
            }

            @media (min-width: 1025px) {
                display: flex !important;
            }
        }
    }

    & .unpinNotes {
        position: absolute;
        top: 20px;
        right: 16px;

        & button {
            color: var(--text-primary-light, #313131) !important;
        }

        & .unpinNotes_tooltip {
            display: none;
            min-width: 100px;
            white-space: nowrap;
            position: absolute;
            top: 28px;
            right: 0;
            padding: 8px 12px;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            color: var(--text-primary-light, #313131);
            background: var(--bg-00-light, #FFF);
            [data-darkreader-scheme="dark"] & {
                color: var(--text-primary-dark, #FCFCFD);
                background: var(--bg-00-dark, #3B3F43) !important;
            }
            box-shadow: 0 4px 6px -2px rgba(26, 26, 26, 0.20);

            overflow: hidden;
            /* Regular/S */
            font-size: 14px!important;
            font-style: normal;
            font-weight: 400!important;
            line-height: 20px; /* 142.857% */
        }

        &:hover .unpinNotes_tooltip {
            display: flex;
        }

    }
}

#pollPanel {
    background: var(--bg-00-light, #FFFFFF);
    [data-darkreader-scheme="dark"] & {
        background: var(--bg-00-dark, #3B3F43);
    }
    & .header-title,
    & .header-icon,
    & .custom-input-heading,
    & .custom-input-instructions,
    & .response-types .response-types-heading,
    & .anonymous-heading,
    & .poll-paragraph {
        color: var(--text-primary-light, #313131);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
    }

    & textarea {
        border: 0.66px solid var(--border-01-light, #C8C8C8);
        color: var(--text-primary-light, #313131);
        background: var(--bg-00-light, #FFFFFF);

        [data-darkreader-scheme="dark"] & {
            border: 0.66px solid var(--border-01-dark, #9A9A9A);
            color: var(--text-primary-dark, #FCFCFD);
            background: var(--bg-00-dark, #3B3F43);
        }

        &::placeholder {
            color: var(--text-secondary-light, #6F767E) !important;
            opacity: 1; /* Firefox needs this to show the placeholder color */

            [data-darkreader-scheme="dark"] & {
                color: var(--text-secondary-dark, #C5C9CD) !important;
                opacity: 1;
            }
        }

        /* For Microsoft Edge */
        &::-ms-input-placeholder {
            color: var(--text-secondary-light, #6F767E) !important;
            [data-darkreader-scheme="dark"] & {
                color: var(--text-secondary-dark, #C5C9CD) !important;
            }
        }
    }

    & .poll-config-button {
        background: var(--bg-01-light, #F7F8F9);
        [data-darkreader-scheme="dark"] & {
            background: var(--bg-01-dark, #F7F8F9);
        }
        & span {
            color: var(--text-primary-light, #313131);
            [data-darkreader-scheme="dark"] & {
                color: var(--text-primary-dark, #FCFCFD);
            }
        }

        &:focus,
        &:active,
        &:hover,
        &.selected {
            background: var(--highlight-lightred-light, #EB5366) !important;
            [data-darkreader-scheme="dark"] & {
                background: var(--highlight-lightred-dark, #E4727F) !important;
            }
        }

    }

    & .response-choices {
        & .section-heading {
            color: var(--text-primary-light, #313131);
            [data-darkreader-scheme="dark"] & {
                color: var(--text-primary-dark, #FCFCFD);
            }
        }

        & .delete_poll_option {
            & span {
                color: var(--text-secondary-light, #6F767E);
                [data-darkreader-scheme="dark"] & {
                    color: var(--text-secondary-dark, #C5C9CD);
                }
            }
        }
    }

    & .poll-checkbox {
        & span {
            color: var(--text-primary-light, #313131);
            [data-darkreader-scheme="dark"] & {
                color: var(--text-primary-dark, #FCFCFD);
            }
        }
    }

    /*& .poll-option-input {*/
        /*color: var(--text-secondary-light, #6F767E);*/
        /*border: 0.66px solid var(--border-01-light, #C8C8C8);*/
        /*[data-darkreader-scheme="dark"] & {*/
        /*    color: var(--text-secondary-dark, #C5C9CD);*/
        /*    border: 0.66px solid var(--border-01-dark, #9A9A9A);*/
        /*}*/
    /*}*/
}

#notes-options-dropdown {
    & .css-nmz4cj-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
        border-radius: 12px;

        & .MuiMenu-list {
            padding: 6px 0 !important;

            & .MuiMenuItem-root {
                padding: 8px 12px !important;

                overflow: hidden;
                color: var(--Text-Primary, #313131);
                [data-darkreader-scheme="dark"] & {
                    color: var(--text-primary-dark, #FCFCFD);
                }
                text-overflow: ellipsis;

                /* Regular/S */
                font-size: 14px !important;
                font-style: normal;
                font-weight: 400 !important;
                line-height: 20px; /* 142.857% */
            }
        }
    }
}

.timer-sidebar-content {
    background: var(--bg-00-light, #FFFFFF);
    [data-darkreader-scheme="dark"] & {
        background: var(--bg-00-dark, #3B3F43);
    }

    & .header-title,
    & .header-icon {
        color: var(--text-primary-light, #313131);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
    }

    & .timer-type {
        & .timer-switch-button {
            & span {
                color: var(--text-primary-light, #313131) !important;
                [data-darkreader-scheme="dark"] & {
                    color: var(--text-primary-dark, #FCFCFD) !important;
                }
            }

            &.active {
                background: var(--bg-04-hover-light, #EFEFEF);
                [data-darkreader-scheme="dark"] & {
                    background: var(--bg-04-hover-dark, #333335);
                }
            }
        }
    }

    & .timer-current {
        color: var(--text-primary-light, #313131);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
    }

    & .timer-seconds,
    & .timer-minutes,
    & .timer-hours {
        color: var(--text-secondary-light, #6F767E);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-secondary-dark, #C5C9CD);
        }
    }
}

/* CHAT */
.chat-container {
    font-family: "FS PF BeauSans Pro", sans-serif;
    padding: 16px !important;
    position: relative;

    [data-darkreader-scheme="dark"] & {
        background: var(--bg-00-dark, #3B3F43);
    }

    & .chat-header-container {
        margin-bottom: 16px;

        & .chat-header {
            color: var(--Text-Primary, #313131);

            /* Semibold/XL */
            font-size: 20px !important;
            font-style: normal;
            font-weight: 600;
            line-height: 32px !important; /* 160% */

            [data-darkreader-scheme="dark"] & {
                color: var(--text-primary-dark, #FCFCFD);
            }
        }

        & .buttonWrapper {
            & span {
                color: var(--Text-Primary, #313131);

                [data-darkreader-scheme="dark"] & {
                    color: var(--text-primary-dark, #FCFCFD);
                }
            }
        }

        & i::before {
            color: var(--text-primary-light, #313131);
        }

        [data-darkreader-scheme="dark"] & {
            & i::before {
                color: var(--text-primary-dark, #FCFCFD);
            }
        }

        & .btnClose {
            display: flex;
            align-items: center;
            padding-left: 12px;

            &:hover {
                border-radius: 50%;
                background: var(--bg-04-hover-light, #EFEFEF);
            }
            @media screen and (max-width: 1024px) {
                display: none; 
            }
        }
    }
    /* CHAT LIST */
    & #chat-list {
        padding: 0;
        [data-darkreader-scheme="dark"] & {
            background-image: linear-gradient(rgb(59, 63, 67) 30%, rgba(59, 63, 67, 0)), linear-gradient(rgba(59, 63, 67, 0), rgb(59, 63, 67) 70%), radial-gradient(farthest-side at 50% 0px, rgba(13, 13, 13, 0.2), rgba(13, 13, 13, 0)), radial-gradient(farthest-side at 50% 100%, rgba(13, 13, 13, 0.2), rgba(13, 13, 13, 0));
            background-color: transparent;
        }

        & .chat-message-wrapper {
            & .chat-message-header,
            & .chat-message-header-name {
                color: var(--Highlight-Light-Red, #EB5366);

                /* Semibold/S */
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; /* 142.857% */

                & span {
                    [data-darkreader-scheme="dark"] & {
                        color: var(--text-secondary-dark, #C5C9CD);
                    }
                }
            }

            & .chat-header {
                & .chat-avatar {
                    border-radius: 10px;
                }

                & .poll-title {
                    color: var(--highlight-lightred-light, #EB5366);
                    [data-darkreader-scheme="dark"] & {
                        color: var(--highlight-lightred-dark, #E4727F);
                    }
                    /* Semibold/S */
                    font-size: 14px!important;
                    font-style: normal;
                    font-weight: 600!important;
                    line-height: 20px; /* 142.857% */

                    margin-bottom: 16px;
                }

                & .chat-poll-question {
                    color: var(--Text-Primary, #313131);
                    [data-darkreader-scheme="dark"] & {
                        color: var(--text-primary-dark, #FCFCFD);
                    }
                    /* Regular/M */
                    font-size: 16px!important;
                    font-style: normal;
                    font-weight: 400!important;
                    line-height: 24px; /* 150% */
                }

                & .recharts-responsive-container {
                    & tspan {
                        color: var(--text-secondary-light, #6F767E);
                        text-align: center;
                        font-family: "FS PF BeauSans Pro", sans-serif;
                        font-size: 10px!important;
                        font-style: normal;
                        font-weight: 400!important;
                        line-height: 16px; /* 160% */
                        [data-darkreader-scheme="dark"] & {
                            color: var(--text-secondary-dark, #C5C9CD) !important;
                        }
                    }

                    & text {
                        fill: var(--text-secondary-light, #6F767E);
                        text-align: center;
                        font-family: "FS PF BeauSans Pro", sans-serif;
                        font-size: 10px!important;
                        font-style: normal;
                        font-weight: 400!important;
                        line-height: 16px; /* 160% */
                        [data-darkreader-scheme="dark"] & {
                            fill: var(--text-secondary-dark, #C5C9CD) !important;
                        }
                    }
                }
            }

            & .chat-avatar-presentation {
                background-color: var(--highlight-lightred-light, #EB5366) !important;
                [data-darkreader-scheme="dark"] & {
                    background-color: var(--highlight-lightred-dark, #E4727F) !important;
                }
            }

            & .chat-message-reply-to-message {
                & .chat-message-replied {
                    border-right: 0.5rem solid var(--color-01-light, #EE0033);
                }
            }

            & .chat-message-content-poll,
            & .chat-message-content-with-header {
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: -7px;
                    width: 24px;
                    height: 14px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" fill="none"><path d="M0.226314 2.32696C4.74121 6.44725 6 14 6 14L20 0H0.871664C0.164109 0 -0.29632 1.85001 0.226314 2.32696Z" fill="%23F7F8F9"/></svg>');

                    border-radius: 12px;
                    z-index: -1;
                }

                [data-darkreader-scheme="dark"] & {
                    &::before {
                        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14" viewBox="0 0 20 14" fill="none"><path d="M0.226314 2.32696C4.74121 6.44725 6 14 6 14L20 0H0.871664C0.164109 0 -0.29632 1.85001 0.226314 2.32696Z" fill="%23303338"/></svg>');
                    }
                }
            }

            & .chat-message-content,
            & .chat-message-content-poll {
                padding: 8px 12px;
                min-width: 120px;
                background: var(--bg-01-light, #F7F8F9);

                [data-darkreader-scheme="dark"] & {
                    background: var(--bg-01-dark, #303338);
                }
                & .chat-message-content-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    & .chat-message-item-wrapper {
                        width: 100%;
                        padding: 0;
                    }

                    & p {
                        color: var(--Text-Primary, #313131);

                        /* Regular/M */
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; /* 150% */

                        [data-darkreader-scheme="dark"] & {
                            color: var(--text-primary-dark, #FCFCFD);
                        }
                    }

                }

                & .chat-time {
                    display: flex;
                    align-items: flex-end;
                    min-width: 35px;

                    color: var(--Text-Secondary, #6F767E);
                    text-align: center;

                    /* Regular/XS */
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px; /* 133.333% */

                    [data-darkreader-scheme="dark"] & {
                        color: var(--text-secondary-dark, #C5C9CD);
                    }
                }

            }

            &.chat-message-is-current {
                align-items: flex-end;
                & .chat-message-content {
                    background-color: var(--bg-red-light, #FBE3E8);

                    [data-darkreader-scheme="dark"] & {
                        background-color: var(--bg-red-dark, #5F4047);

                        & span {
                            color: var(--text-primary-dark, #FCFCFD);
                        }
                    }
                }
            }

            & .chat-content-footer {
                position: unset;
                display: inline-flex;
            }

            & .chat-message-toolbar {
                display: inline-flex;
                padding: 4px;
                align-items: center;
                gap: 4px;
                border-radius: 8px;
                border: 1px solid var(--Border-00, #EFEFEF);
                background: var(--BG-00, #FFF);
                box-shadow: 0 2px 4px -2px rgba(26, 26, 26, 0.13);
                [data-darkreader-scheme="dark"] & {
                    background-color: var(--bg-00-dark, #3B3F43);
                    border: 1px solid var(--border-00-dark, #4E5358);
                }
                & button {
                    color: var(--Text-Primary, #313131);
                    [data-darkreader-scheme="dark"] & {
                        color: var(--icon-primary-dark, #F2F2F2);
                    }
                    & svg {
                        width: 16px;
                        height: 16px;
                    }

                    &:hover {
                        background: var(--bg-04-hover-light, #EFEFEF);
                        [data-darkreader-scheme="dark"] & {
                            background: var(--bg-04-hover-dark, #333335);
                        }
                    }
                }
            }
        }
    }

    & .chat-presentation-download-container {
        display: flex;
        max-width: 250px;
        padding: 8px 12px 12px 12px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;

        border-radius: 12px;
        background: var(--bg-01-light, #F7F8F9);
        [data-darkreader-scheme="dark"] & {
            background: var(--bg-01-dark, #303338);
        }

        & .chat-presentation-title {
            color: var(--highlight-lightred-light, #EB5366) !important;
            [data-darkreader-scheme="dark"] & {
                color: var(--highlight-lightred-dark, #E4727F) !important;
            }
            /* Semibold/S */
            font-size: 14px!important;
            font-style: normal;
            font-weight: 600!important;
            line-height: 20px; /* 142.857% */
        }

        & .chat-presentation-download-link {
            display: flex;
            padding: 8px 12px;
            flex-direction: column;
            align-items: flex-start;
            gap: 6px;
            width: auto;
            border-radius: 8px;
            border-left: 2px solid var(--icon-link-light, #1087FF);
            background: var(--bg-00-light, #FFF);
            [data-darkreader-scheme="dark"] & {
                border-left: 2px solid var(--icon-link-dark, #56D6FF);
                background: var(--bg-00-dark, #3B3F43);
            }

            & span {
                color: var(--text-primary-light, #313131);
                [data-darkreader-scheme="dark"] & {
                    color: var(--text-primary-dark, #FCFCFD);
                }
                /* Regular/XS */
                font-size: 12px!important;
                font-style: normal;
                font-weight: 400!important;
                line-height: 16px; /* 133.333% */
            }

            & .btn-link {
                display: flex;
                gap: 6px;
                color: var(--icon-link-light, #1087FF);
                [data-darkreader-scheme="dark"] & {
                    color: var(--icon-link-dark, #56D6FF);
                }

                /* Medium/S */
                font-size: 14px!important;
                font-style: normal;
                font-weight: 500!important;
                line-height: 20px; /* 142.857% */
            }
        }

        & .chat-time {
            display: flex;
            align-items: flex-end;
            min-width: 35px;

            color: var(--Text-Secondary, #6F767E);
            text-align: center;

            /* Regular/XS */
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px; /* 133.333% */

            [data-darkreader-scheme="dark"] & {
                color: var(--text-secondary-dark, #C5C9CD);
            }
        }
    }

    & #chat-input {
        color: var(--text-primary-light, #313131);

        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
    }
}

.userListContainer {
    background: var(--bg-00-light, #FFFFFF);

    [data-darkreader-scheme="dark"] & {
        background: var(--bg-00-dark, #3B3F43);
    }

    & .menuUserTitle {
        font-family: "FS PF BeauSans Pro", sans-serif;
        [data-darkreader-scheme="dark"] & {
            background: var(--bg-00-dark, #3B3F43);
        }
        margin: 0!important;
        padding: 16px;
        & h2 {
            text-transform: none;
            padding: 0!important;
            [data-darkreader-scheme="dark"] & {
                background: var(--bg-00-dark, #3B3F43);
            }
            & span {
                color: var(--Text-Primary, #313131);
                /* Semibold/XL */
                font-size: 20px!important;
                font-style: normal;
                font-weight: 600;
                line-height: 32px!important; /* 160% */
                [data-darkreader-scheme="dark"] & {
                    color: var(--text-primary-dark, #FCFCFD);
                }
            }
        }
        & span {
          color: var(--Text-Primary, #313131);
          background-color: transparent !important;
          [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
            .icon-bbb-more:before {
              color: var(--text-primary-dark, #FCFCFD) !important;
            }
          }
        }
        & button {
          padding: 2px !important;
        }
        & .manage_users {
            padding: 2px !important;

            & span:first-child {
                background: var(--bg-00-light, #FFFFFF);

                [data-darkreader-scheme="dark"] & {
                    background: var(--bg-00-dark, #3B3F43);
                }

                & i::before {
                    color: var(--text-primary-light, #313131);
                }

                [data-darkreader-scheme="dark"] & {
                    & i::before {
                        color: var(--text-primary-dark, #FCFCFD);
                    }
                }
            }
        }
        @media screen and (max-width: 1024px) {
           padding: 8px 8px 8px 16px !important;
           max-height: 64px;
        }
    }

    & .userListContent {
        position: relative;

        & .btn-raised-all-hands {
            position: absolute;
            bottom: 12px;
            width: calc(100% - 32px);
            left: 16px;
            right: 16px;
        }
    }

    & .user-list-participants {
        padding: 8px 16px;
        & .user-list-item {
            background: var(--bg-00-light, #FFFFFF);
            [data-darkreader-scheme="dark"] & {
                background: var(--bg-00-dark, #3B3F43);
            }
            & span {
                [data-darkreader-scheme="dark"] & {
                    color: var(--text-primary-dark, #FCFCFD);
                }
            }
        }
    }
}

/* APP-SETTINGS-DROPDOWN-MENU */
#app-settings-dropdown-menu {
    & .css-ton3fx-MuiButtonBase-root-MuiMenuItem-root + .MuiDivider-root {
        margin: 0;
    }

    & .bbb-menu-information {
        padding: 6px 8px !important;
    }

    & ul {
        color: var(--Text-Primary, #313131);

        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
    }

    @media only screen and (max-width: 40em) {
        & .MuiPaper-root {
            width: unset;
        }
    }
}

/* ActionsBar */
#ActionsBar {
    [data-darkreader-scheme="dark"] & {
        background-color: var(--meet-bg, #2B2E32);
    }
    & .options-dropdown-button {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 6px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        aspect-ratio: 1/1;

        border-radius: 100px;
        background: var(--BG-Meet-button, #383B3F);

        & span:first-child {
            background-color: unset;
            color: var(--neutral-00-light, #FFF) !important;

            &:hover {
                background-color: unset !important;
            }
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            width: 54px;
            height: 54px;

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    & i {
        color: var(--text-primary-dark, #FCFCFD);
    }
}

.reactions-dropdown-container {
    position: relative;
    /*z-index: 1000;*/
    & .reactions-dropdown-menu {
        position: absolute;
        top: -50px;
        left: -100px;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 4px 6px;
        background-color: var(--bg-00-light, #FFFFFF);
        border-radius: 12px;
        z-index: 100;
        [data-darkreader-scheme="dark"] & {
            background-color: var(--bg-00-dark, #3B3F43);
        }
        /* [L] Popover shadow */
        box-shadow: 0 4px 6px -2px rgba(26, 26, 26, 0.20), 1px 0 0 0 rgba(0, 0, 0, 0.13) inset, -1px 0 0 0 rgba(0, 0, 0, 0.13) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.17) inset, 0 1px 0 0 rgba(204, 204, 204, 0.50) inset;
        & .reactions-dropdown-item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: unset;
            background-color: var(--bg-00-light, #FFFFFF);
            [data-darkreader-scheme="dark"] & {
                background-color: var(--bg-00-dark, #3B3F43);
            }
            & div {
                margin: 0;
                background-color: unset;

                & span {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & img {
                        width: 24px;
                        height: 24px;
                    }
                }

                &:hover {
                    background-color: unset!important;
                    color: unset!important;
                    filter: unset!important;
                }
            }

            &:hover {
                background: var(--bg-04-hover-light, #EFEFEF);
                border-radius: 10px;
                [data-darkreader-scheme="dark"] & {
                    background-color: var(--bg-04-hover-dark, #333335);
                }
            }
        }
    }
}


.sidebar_chat {
    position: relative;

    & .unreadNumber {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        background: var(--color-01-light, #EE0033);
        border-radius: 50%;
        color: var(--neutral-00-light, #FFF);
        font-size: 10px!important;
        font-style: normal;
        font-weight: 500!important;
    }
}

.lock_user_chat {
    width: 12px;
    height: 12px;
    padding-top: 2px;

    & svg {
        width: 12px;
        height: 12px;
    }
}

button[data-test="whiteboardOptionsButton"],
.tlui-toolbar__tools {

    /* [L] Popover shadow */
    box-shadow: 0 4px 6px -2px rgba(26, 26, 26, 0.20), 1px 0 0 0 rgba(0, 0, 0, 0.13) inset, -1px 0 0 0 rgba(0, 0, 0, 0.13) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.17) inset, 0 1px 0 0 rgba(204, 204, 204, 0.50) inset;
    [data-darkreader-scheme="dark"] & {
        background-color: var(--bg-00-dark, #3B3F43);
    }
}

#upload-modal {
    [data-darkreader-scheme="dark"] & {
        background: var(--bg-00-dark, #3B3F43);
    }

    & .title {
        color: var(--Text-Primary, #313131);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
        /* Semibold/XL */
        font-size: 20px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 32px !important; /* 160% */
    }

    & .dismiss {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: unset;
        color: var(--Text-Primary, #313131);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
    }

    & .hint {
        color: var(--Text-Primary, #313131);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
    }

    & .dropzone {
        & .dropzoneIcon {
            color: var(--Text-Primary, #313131);
            [data-darkreader-scheme="dark"] & {
                color: var(--text-primary-dark, #FCFCFD);
            }
        }

        & .dropzoneMessage {
            color: var(--text-secondary-light, #6F767E);
            [data-darkreader-scheme="dark"] & {
                color: var(--text-secondary-dark, #C5C9CD);
            }
        }

        & .dropzoneLink {
            color: var(--text-link-light, #1087FF);
            [data-darkreader-scheme="dark"] & {
                color: var(--text-link-dark, #56D6FF);
            }
        }
    }

    & .presentation_item {
        & .file_icon {
            color: var(--icon-secondary-light, #5F6166);
            [data-darkreader-scheme="dark"] & {
                color: var(--icon-secondary-dark, #CECFD2);
            }
        }

        & .table_item_name {
            color: var(--Text-Primary, #313131);
            [data-darkreader-scheme="dark"] & {
                color: var(--text-primary-dark, #FCFCFD);
            }
        }

        & .current_label {
            color: var(--color-05-light, #0A84FF);
            background: var(--secondary-05-light, #E2F5FD);;
            [data-darkreader-scheme="dark"] & {
                color: var(--color-05-dark, #2D88E4);
                background: var(--secondary-05-dark, #2C5060);;
            }
            /* Semibold/XS */
            font-size: 12px!important;
            font-style: normal;
            font-weight: 600!important;
            line-height: 16px; /* 133.333% */
        }

        & .actions_item {
            & .presentation_options_download {
                & span:first-child {
                    & i::before {
                        color: var(--text-secondary-light, #6F767E);
                    }

                    [data-darkreader-scheme="dark"] & {
                        & i::before {
                            color: var(--text-secondary-dark, #C5C9CD);
                        }
                    }
                }
            }

            & .remove_presentation {
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--text-secondary-light, #6F767E);
                [data-darkreader-scheme="dark"] & {
                    color: var(--text-secondary-dark, #C5C9CD);
                }
            }
        }
    }

    & .export_hint {
        color: var(--text-secondary-light, #6F767E);
        [data-darkreader-scheme="dark"] & {
            color: var(--text-secondary-dark, #C5C9CD);
        }
    }
}

.recharts-text.recharts-cartesian-axis-tick-value{
    fill: var(--Text-Secondary, #6F767E);
}

li[data-key="menuItem-directLogoutButton"] {
    & div:first-child {
        display: flex;
        align-items: center;
    }
}

.toggle-thumb {
    [data-darkreader-scheme="dark"] & {
        background: var(--neutral-00-dark, #FFF);
    }
}

.connecting-status-green {
    background-color: var(--color-02-light, #75C044) !important;
    [data-darkreader-scheme="dark"] & {
        background-color: var(--color-02-dark, #83BF6E) !important;
    }
}

.connecting-status-warning {
    background-color: var(--color-04-light, #F26724) !important;
    [data-darkreader-scheme="dark"] & {
        background-color: var(--color-04-dark, #F77E44) !important;
    }
}

.connecting-status-error {
    background-color: var(--color-01-light, #EE0033) !important;
    [data-darkreader-scheme="dark"] & {
        background-color: var(--color-01-dark, #EE0033) !important;
    }
}

.MuiList-root.MuiList-padding.MuiMenu-list {
    & li div {
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD);
        }
    }
}

.tlui-layout__mobile .tlui-button__tool {
    [data-darkreader-scheme="dark"] & {
        color: var(--text-primary-dark, #FCFCFD) !important;
    }
}

.layout-btn {
    [data-darkreader-scheme="dark"] & {
        background-color: var(--bg-00-dark, #3B3F43) !important;
    }
}

.radio-label {
    & span {
        color: var(--Text-Primary, #313131) !important;
        [data-darkreader-scheme="dark"] & {
            color: var(--text-primary-dark, #FCFCFD) !important;
        }
    }
}

.rightIconNomal {
    & .talking {
        [data-darkreader-scheme="dark"] & {
            background-color: var(--color-02-dark, #83BF6E) !important;
        }
    }
}

.arrow-title-room {
    color: var(--Neutral-00, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}

.react-draggable {
    & .bottom-bar {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        & .iconUnmute {
            color: var(--color-02-light, #75C044);
            [data-darkreader-scheme="dark"] & {
                color: var(--color-02-dark, #83BF6E);
            }
        }

        & .iconUnmute,
        & .iconMute {
            position: absolute;
            top: 13%;
            left: 12px;
            color: var(--neutral-00-light, #FFFFFF);
        }

        & .webcam-dropdown-trigger {
            width: fit-content;
            color: var(--Neutral-00, #FFF);

            /* Medium/S */
            font-size: 14px!important;
            font-style: normal;
            font-weight: 500!important;
            line-height: 20px; /* 142.857% */

            padding: 3px 12px 0 36px !important;

            &:after {
                display: none;
            }
        }
    }
}

.tlui-popover__content > div > button > div {
    color: var(--Text-Primary, #313131) !important;
    [data-darkreader-scheme="dark"] & {
        color: var(--text-primary-dark, #FCFCFD) !important;
    }
}

#presentationInnerWrapper {

}

.css-ton3fx-MuiButtonBase-root-MuiMenuItem-root{
    min-height: auto !important;
}
