input:not([type]), input[type="text"], textarea {
    border-radius: var(--p-border-radius-button) !important;
    border: 0.66px solid var(--Border-01, #C8C8C8);
    background: var(--BG-00, #FFF);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    box-shadow: unset;

    color: var(--Text-Primary, #313131);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    &::placeholder{
        color: var(--Text-Secondary, #6F767E);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    &:hover{
        border-color: var(--Border-02-hover, #989898);
    }

    &:focus,
    &:active{
        border-color: rgba(0, 0, 0, 0.00) !important;
        background: var(--BG-04---hover, #EFEFEF);
        box-shadow: -1px 0 1px 0 rgba(26, 26, 26, 0.12) inset, 1px 0 1px 0 rgba(26, 26, 26, 0.12) inset, 0 2px 1px 0 rgba(26, 26, 26, 0.20) inset;
    }
}