@import 're-style-font.css';
@import 're-style-base.css';
@import 're-style-select.css';
@import 're-style-button.css';
@import 'variables.css';
@import 're-style-dropdown.css';
@import 're-style-modal.css';

.user-avatar-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 24px;
        height: 24px;
    }
}

.pollingContainer {
    width: 440px !important;
    font-family: "FS PF BeauSans Pro", sans-serif;
    padding: 16px !important;
    border-radius: 12px !important;
    background: var(--bg-00-light, #FFF) !important;

    /* shadow-600 */
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.13) inset, -1px 0px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px -1px 0px 0px rgba(0, 0, 0, 0.17) inset, 0px 1px 0px 0px rgba(204, 204, 204, 0.50) inset, 0px 20px 20px -8px rgba(26, 26, 26, 0.28) !important;

    & .pollingQuestionTitle {
        color: var(--Text-Primary, #313131);

        /* Semibold/L */
        font-size: 18px !important;
        font-style: normal;
        font-weight: 600 !important;
        line-height: 24px; /* 133.333% */
        text-align: left;
    }

    & .pollingQuestionText {
        margin-top: 16px;
        color: var(--Text-Primary, #313131);

        /* Medium/S */
        font-size: 14px !important;
        font-style: normal;
        font-weight: 500 !important;
        line-height: 20px; /* 142.857% */
    }

    .pollingAnswers {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 20px 0;
        border-bottom: 1px solid var(--border-00-light, #EFEFEF) !important;

        & .pollingButtonWrapper {
            width: 100% !important;
            padding: 0;

            & .pollingButton {
                text-align: left;
                width: 100% !important;
                padding: var(--p-space-150) var(--p-space-300) !important;
                border: 0.66px solid var(--Border-01, #C8C8C8) !important;
                background: var(--bg-00-light, #FFF) !important;
                overflow: hidden;
                color: var(--Text-Primary, #313131);
                text-overflow: ellipsis;
                max-width: unset;
                border-radius: 8px !important;
                /* Regular/S */
                font-size: 14px !important;
                font-style: normal;
                font-weight: 400 !important;
                line-height: 20px; /* 142.857% */

                &:hover {
                    background: var(--Highlight-Light-Red, #EB5366) !important;
                    color: var(--neutral-00-light, #FFF) !important;
                }

                & span:hover {
                    opacity: 1;
                }
            }
        }
    }

    & .pollingResponseInputWrapper {
        padding: 20px 0;
        margin: 0;
        border-bottom: 1px solid var(--border-01-light, #C8C8C8) !important;

        & textarea {
            padding: 6px 12px;
            align-items: center;

            border-radius: 8px;
            border: 1px solid var(--border-00-light, #EFEFEF) !important;
            background: var(--bg-00-light, #FFFFFF);

            /* Regular/S */
            font-size: 14px !important;
            font-style: normal;
            font-weight: 400 !important;
            line-height: 20px; /* 142.857% */

            /* Disable horizontal resize */
            resize: vertical;

            &:hover,
            &:focus,
            &:focus-visible {
                border-color: var(--Border-02-hover, #989898) !important;
                outline: none;
            }

            &::placeholder {
                color: var(--Text-Secondary, #6F767E);
                opacity: 1;
            }
        }
    }

    & .pollingSecretHint {
        width: 100% !important;
        max-width: unset;
        margin-top: 12px;
        color: var(--Text-Secondary, #6F767E);
        text-align: left;

        /* Regular/S */
        font-size: 14px !important;
        font-style: normal;
        font-weight: 400 !important;
        line-height: 20px; /* 142.857% */
    }

}

.notes {
    font-family: "FS PF BeauSans Pro", sans-serif;
    padding: 16px !important;

    & .notes-header-container {
        margin-bottom: 16px;

        & .notes-header {
            color: var(--Text-Primary, #313131);

            /* Semibold/XL */
            font-size: 20px !important;
            font-style: normal;
            font-weight: 600;
            line-height: 32px !important; /* 160% */
        }

        & .buttonWrapper {
            & span {
                color: var(--Text-Primary, #313131);
            }
        }

        & .btnClose {
            display: flex;
            align-items: center;
            padding-left: 12px;

            &:hover {
                border-radius: 50%;
                background: var(--bg-04-hover-light, #EFEFEF);
            }
        }
    }


}

#notes-options-dropdown {
    & .css-nmz4cj-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
        border-radius: 12px;

        & .MuiMenu-list {
            padding: 6px 0 !important;

            & .MuiMenuItem-root {
                padding: 8px 12px !important;

                overflow: hidden;
                color: var(--Text-Primary, #313131);
                text-overflow: ellipsis;

                /* Regular/S */
                font-size: 14px !important;
                font-style: normal;
                font-weight: 400 !important;
                line-height: 20px; /* 142.857% */
            }
        }
    }
}

/*Remove user model*/
.ReactModal__Content.remove-user-modal {
    width: 500px;
    /*height: 196px;*/
    /*min-height: max-content;*/
    border-radius: 12px;
    padding: 0;

    & header {
        padding: 12px 16px;

        border-bottom: 1px solid var(--border-00-light, #EFEFEF);
        background: var(--bg-01-light, #F7F8F9);

        & h2 {
            text-align: left;
        }
    }

    & .remove-user-content {
        padding-bottom: 0;
        text-align: unset;
        width: 100%;
        /*margin-top: 16px;*/
        line-height: 20px;

        & .remove-user-desc {
            text-align: left;
            /*margin: 0 16px 1.5rem;*/
            font-weight: normal !important;
            color: var(--Text-Primary, #313131);
        }

        & .remove-user-checkbox {
            grid-template-columns: unset;
            text-align: left;
            margin: 0.45rem 16px 0;
        }
    }

    & .remove-user-footer {
        padding-top: 12px;
        margin: 0;
        border-top: 1px solid var(--border-00-light, #EFEFEF);
        justify-content: flex-end;
        gap: 8px;
        align-items: center;
        width: 100%;

        & > button {
            border-radius: 5px;
        }

        & .remove-user-btnok {

        }
    }

}

.menuUserTitle {
    font-family: "FS PF BeauSans Pro", sans-serif;
    & h2 {
        text-transform: none;
        & span {
            /* Semibold/XL */
            font-size: 20px!important;
            font-style: normal;
            font-weight: 600;
            line-height: 32px!important; /* 160% */
        }
    }
    & span {
        color: var(--Text-Primary, #313131);
    }
    & button {
        padding: 2px !important;
    }
    & .lastMenuBtn {
        margin-right: 16px;
    }
}
/* APP-SETTINGS-DROPDOWN-MENU */
#app-settings-dropdown-menu {
    & .css-ton3fx-MuiButtonBase-root-MuiMenuItem-root + .MuiDivider-root {
        margin: 0;
    }

    & .bbb-menu-information {
        padding: 6px 8px !important;
    }
}

/* ActionsBar */
#ActionsBar {
    & .options-dropdown-button {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 6px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        aspect-ratio: 1/1;

        border-radius: 100px;
        background: var(--BG-Meet-button, #383B3F);

        & span:first-child {
            background-color: unset;
            color: var(--neutral-00-light, #FFF) !important;

            &:hover {
                background-color: unset !important;
            }
        }
    }
}

.policy-modal {
    & .policy-container {
        margin: auto;
        & .policy-desc {
            text-align: unset;
            color: var(--Text-Primary, #313131);
        }
        & .policy-content {
            align-items: normal;
            & .policy-radio-label {
                border: 1px solid var(--Border-00, #EFEFEF);
            }
        }
        & span {
            color: var(--Text-Primary, #313131);
        }
        & input[type="radio"] {
            margin-right: 10px;
        }
        & input[type="radio"]:checked {
            accent-color: var(--Highlight-Light-Red, #EB5366) !important;
        }
    }

    & .policy-footer {
        padding-top: 16px;
        border-top: 1px solid var(--border-00-light);
        margin: 16px 0 0;
        & .policy-action {

        }
    }
}

/* MODAL SETTINGS */
.settings-modal {
    & .settings-modal-content {
        min-height: 488px;
        padding-bottom: 16px;
        border-bottom: 1px solid var(--border-00-light, #EFEFEF);

        & .settings-tabs {
            justify-content: space-between;
            gap: 24px;

            & ul {
                width: 200px !important;

                & li {
                    display: flex;
                    height: 28px;
                    padding: var(--p-space-150) var(--p-space-300);
                    align-items: center;
                    gap: 6px;
                    align-self: stretch;
                    color: var(--Text-Primary, #313131) !important;
                    text-align: center;
                    font-size: 12px !important;
                    font-style: normal;
                    font-weight: 400 !important;
                    line-height: 16px;

                    &.is-selected {
                        font-weight: 600 !important;
                        border-radius: var(--p-border-radius-button);
                        background: var(--BG-04---hover, #EFEFEF);
                    }
                }
            }

            & .setting-tab-panel {
                width: calc(100% - 224px);
                margin: 0;

                & .transcription-menu,
                & .data-saving-menu,
                & .notification-menu,
                & .application-menu {
                    & .title {
                        color: var(--Text-Primary, #313131);

                        /* Semibold/L */
                        font-size: 18px !important;
                        font-style: normal;
                        font-weight: 600 !important;
                        line-height: 24px; /* 133.333% */
                        margin-bottom: 12px;
                    }

                    & .sub-title {
                        color: var(--Text-Primary, #313131);
                        /* Regular/S */
                        font-size: 14px!important;
                        font-style: normal;
                        font-weight: 400!important;
                        line-height: 20px; /* 142.857% */
                        margin: 12px 0;
                    }
                }

                & .form {
                    gap: 10px;

                    & .row {
                        align-items: center;
                        margin-bottom: 10px;
                        flex: 2 1;

                        & .col {
                            & span {
                                color: var(--Text-Primary, #313131) !important;

                                /* Regular/S */
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 20px; /* 142.857% */
                                margin-bottom: 0;
                            }

                            &:first-child {
                                flex-grow: 2;
                            }

                            &:last-child {
                                flex-grow: 1;
                            }
                        }
                    }

                    & .custom-input {
                        padding: var(--p-space-150) var(--p-space-300);
                        border-radius: var(--p-border-radius-button);
                        border: 0.66px solid var(--Border-01, #C8C8C8);
                        background: var(--BG-00, #FFF);

                        color: var(--Text-Primary, #313131);
                    }
                }
            }
        }
    }
}

.lock-viewer-modal {
    & .lock-viewer-left-label {
        color: var(--Text-Primary, #313131) !important;
    }
}

.reactions-dropdown-container {
    position: relative;
    z-index: 1000;
    & .reactions-dropdown-menu {
        position: absolute;
        top: -50px;
        left: -100px;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 4px 6px;
        background-color: var(--bg-00-light, #FFFFFF);
        border-radius: 12px;

        /* [L] Popover shadow */
        box-shadow: 0 4px 6px -2px rgba(26, 26, 26, 0.20), 1px 0 0 0 rgba(0, 0, 0, 0.13) inset, -1px 0 0 0 rgba(0, 0, 0, 0.13) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.17) inset, 0 1px 0 0 rgba(204, 204, 204, 0.50) inset;
        & .reactions-dropdown-item {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: unset;
            background-color: var(--bg-00-light, #FFFFFF);

            & div {
                margin: 0;
                background-color: unset;

                & span {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & img {
                        width: 24px;
                        height: 24px;
                    }
                }

                &:hover {
                    background-color: unset!important;
                    color: unset!important;
                    filter: unset!important;
                }
            }

            &:hover {
                background: var(--bg-04-hover-light, #EFEFEF);
                border-radius: 10px;
            }
        }
    }
}