.ReactModal__Content.ReactModal__Content--after-open {
  border-radius: 12px;
  background: var(--White-100, #fff);
  box-shadow:
    1px 0 0 0 rgba(0, 0, 0, 0.13) inset,
    -1px 0 0 0 rgba(0, 0, 0, 0.17) inset,
    0 -1px 0 0 rgba(0, 0, 0, 0.17) inset,
    0 1px 0 0 rgba(204, 204, 204, 0.5) inset,
    0 20px 20px -8px rgba(26, 26, 26, 0.28);
}

.ReactModal__Content.ReactModal__Content--after-open.external-video-modal {
  width: 500px;
}

.ReactModal__Content.ReactModal__Content--after-open .modal-header {
  height: 56px !important;
}

.ReactModal__Content.ReactModal__Content--after-open
  .modal-header
  .modal-title {
  line-height: 32px !important;
}

@media (max-width: 767px) {
  .ReactModal__Content.ReactModal__Content--after-open .modal-header {
    height: 48px !important;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .ReactModal__Content.ReactModal__Content--after-open
    .modal-header
    .modal-title {
    line-height: 24px !important;
  }
}

/* AUDIO MODAL */
.ReactModal__Content .connecting {
  text-align: center;
  padding-bottom: 50px;
}

.ReactModal__Content .connecting .connecting-label {
  text-align: center;
  /* Regular/XL */
  font-size: 20px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 32px;
  /* 160% */
  color: #313131;
}

@media (max-width: 1024px) {
  .ReactModal__Content .connecting .connecting-label {
    font-size: 16px !important;
    line-height: 24px;
  }
}

.ReactModal__Content .connecting .connecting-animation {
  margin-top: 20px;
}

.ReactModal__Content .connecting .connecting-animation .three-bars-loader {
  justify-content: center;
}

.ReactModal__Content.audio_modal {
  width: 468px;
  min-height: max-content;
  border-radius: 12px;
  padding: 0;
}

.ReactModal__Content.audio_modal header {
  padding: 12px 16px;
  text-align: center;
  border-bottom: unset;
}

/* SETTING MODAL */
.ReactModal__Content.audio-settings-modal {
  width: 468px;
  min-height: max-content;
  border-radius: 12px;
  padding: 0;
}

.ReactModal__Content.audio-settings-modal header {
  padding: 12px 16px;
  background: var(--bg-01-light, #f7f8f9);
}

.ReactModal__Content.audio-settings-modal header h2 {
  text-align: left;
}

.ReactModal__Content.audio-settings-modal .audio-settings-modal-content {
  padding: 0;
}

.ReactModal__Content.audio-settings-modal
  .audio-settings-modal-content
  .audio-settings-note {
  text-align: left;
  margin: 0 0 1.5rem;
}

.ReactModal__Content.audio-settings-modal
  .audio-settings-modal-content
  .audio-settings-note
  .subtitle {
  color: var(--text-secondary-light, #6f767e);
  /* Regular/S */
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 20px;
  /* 142.857% */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ReactModal__Content.audio-settings-modal
    .audio-settings-modal-content
    .audio-settings-note
    .subtitle {
    font-size: 16px !important;
    line-height: 24px;
  }
}

.ReactModal__Content.audio-settings-modal
  .audio-settings-modal-content
  .audio-settings-form {
  grid-template-columns: unset;
  margin: 0.45rem 0 0;
  gap: 12px;
}

.ReactModal__Content.audio-settings-modal
  .audio-settings-modal-content
  .audio-settings-form
  label {
  color: var(--Text-Primary, #313131);
  /* Medium/S */
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px;
  /* 142.857% */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ReactModal__Content.audio-settings-modal
    .audio-settings-modal-content
    .audio-settings-form
    label {
    font-size: 16px !important;
    line-height: 24px;
  }
}

.ReactModal__Content.audio-settings-modal
  .audio-settings-modal-content
  .audio-settings-form
  .audio-test-container
  button {
  text-align: left;
  margin-top: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
}

.ReactModal__Content.audio-settings-modal .enter-audio-buttons {
  padding: 12px 0 0;
  margin: 0;
  border-top: 1px solid var(--border-00-light, #efefef);
}

/* PREVIEW VIDEO MODAL */
.ReactModal__Content.video-preview-modal {
  width: 632px;
  min-height: max-content;
  border-radius: 12px;
  padding: 0;
}

.ReactModal__Content.video-preview-modal.camera-as-content {
  width: 500px;
}

.ReactModal__Content.video-preview-modal header {
  padding: 12px 16px;
  border-bottom: 1px solid var(--border-00-light, #efefef);
  background: var(--bg-01-light, #f7f8f9);
}

.ReactModal__Content.video-preview-modal header h2 {
  text-align: left;
}

.ReactModal__Content.video-preview-modal .video-preview-container {
  padding: 0;
}

@media (max-width: 767px) {
  .ReactModal__Content.video-preview-modal
    .video-preview-container
    .xs-flex-column {
    min-height: 417px;
  }
}

@media (min-width: 1025px) {
  .ReactModal__Content.video-preview-modal
    .video-preview-container
    .min-h-custom {
    min-height: 260px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ReactModal__Content.video-preview-modal
    .video-preview-container
    .min-h-custom {
    min-height: 260px;
  }
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .webcam-tab-list {
  margin: 0 0 16px;
  gap: 20px;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .webcam-tab-list
  .webcam-tab-item {
  width: 50%;
  display: flex;
  padding: var(--p-space-150) var(--p-space-300);
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-radius: 8px;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .webcam-tab-list
  .webcam-tab-item
  span {
  color: var(--Text-Primary, #313131);
  text-align: center;
  /* Semibold/XS */
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 16px;
  /* 133.333% */
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ReactModal__Content.video-preview-modal
    .video-preview-container
    .webcam-tab-list
    .webcam-tab-item
    span {
    font-size: 16px !important;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
  .ReactModal__Content.video-preview-modal
    .video-preview-container
    .webcam-tab-list
    .webcam-tab-item
    span {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .webcam-tab-list
  .webcam-tab-item.is-selected {
  background: var(--bg-04-hover-light, #efefef);
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .webcam-tab-list
  .webcam-tab-item.is-selected
  span {
  font-weight: 600 !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .ReactModal__Content.video-preview-modal
    .video-preview-container
    .webcam-tab-list
    .webcam-tab-item {
    padding: 8px 12px;
  }
}

@media (max-width: 767px) {
  .ReactModal__Content.video-preview-modal
    .video-preview-container
    .webcam-tab-list
    .webcam-tab-item {
    padding: 16px 12px;
  }
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .video-preview-wrapper {
  padding-left: 84px;
  padding-right: 84px;
  height: 169px;
  margin-bottom: 16px;
  @media (max-width: 375px) {
    padding-left: unset;
    padding-right: unset;
    height: fit-content;
    margin-bottom: 14px;
    justify-content: center;
    display: flex;
  }
}


.video-content-preview {
  justify-content: center;
  display: flex;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .video-preview {
  border-radius: 8px;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .brightness-input,
.ReactModal__Content.video-preview-modal
  .video-preview-container
  .device-selectors {
  margin: 0;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .brightness-input
  label,
.ReactModal__Content.video-preview-modal
  .video-preview-container
  .device-selectors
  label {
  margin-top: 12px;
  color: var(--Text-Primary, #313131);
  /* Medium/S */
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px;
  /* 142.857% */
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-label {
  color: var(--Text-Primary, #313131);
  /* Medium/S */
  font-size: 14px !important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px;
  /* 142.857% */
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail {
  margin: 0;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper {
  width: 100%;
  margin: 20px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 12px;
  column-gap: 12px;
  max-width: unset;
}

@media (max-width: 1024px) {
  .ReactModal__Content.video-preview-modal
    .video-preview-container
    .virtual-background-row-thumbnail
    .virtual-background-wrapper {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .thumbnail-button {
  border: unset;
  box-shadow: unset;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .thumbnail-button:focus {
  box-shadow: unset;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .virtual-background-none-button {
  border: 0.66px solid var(--Border-01, #c8c8c8);
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .virtual-background-custom-button {
  border: 0.66px dashed var(--Border-01, #c8c8c8);
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .virtual-background-none-button,
.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .virtual-background-custom-button,
.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .thumbnail-button-wrapper {
  margin: 0;
  width: 63px;
  height: 63px;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .virtual-background-none-button:not(.virtual-background-remove-button),
.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .virtual-background-custom-button:not(.virtual-background-remove-button),
.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-wrapper
  .thumbnail-button-wrapper
  button:not(.virtual-background-remove-button) {
  width: 63px;
  height: 63px;
  padding: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-remove-button {
  /*position: relative;*/
}

.ReactModal__Content.video-preview-modal
  .video-preview-container
  .virtual-background-row-thumbnail
  .virtual-background-remove-button
  span:first-child {
  background-color: unset;
  padding: 0;
  margin: 0;
  width: 16px;
}

.ReactModal__Content.video-preview-modal .video-preview-container i {
  color: var(--text-primary-light, #313131) !important;
}

/* MODAL ABOUT */
.ReactModal__Content.modal-about {
  width: 500px;
}

/* MODAL SETTINGS */
.settings-modal .settings-modal-content {
  min-height: 488px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-00-light, #efefef);
}

.settings-modal .settings-modal-content .settings-tabs {
  justify-content: space-between;
  gap: 24px;
}

.settings-modal .settings-modal-content .settings-tabs ul {
  width: 200px !important;
}

@media only screen and (max-width: 1024px) {
  .settings-modal .settings-modal-content .settings-tabs ul {
    width: 100% !important;
  }
}

.settings-modal .settings-modal-content .settings-tabs ul li {
  display: flex;
  height: 28px;
  padding: var(--p-space-150) var(--p-space-300);
  align-items: center;
  gap: 6px;
  align-self: stretch;
  color: var(--Text-Primary, #313131) !important;
  text-align: center;
  font-size: 12px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 16px;
}

.settings-modal .settings-modal-content .settings-tabs ul li.is-selected {
  font-weight: 600 !important;
  border-radius: var(--p-border-radius-button);
  background: var(--bg-04-hover-light, #efefef);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .settings-modal .settings-modal-content .settings-tabs ul li {
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 767px) {
  .settings-modal .settings-modal-content .settings-tabs ul li {
    font-size: 14px !important;
  }
}

.settings-modal .settings-modal-content .settings-tabs .setting-tab-panel {
  width: calc(100% - 224px);
  margin: 0;
  min-height: 534px;
}

.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .transcription-menu
  .title,
.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .data-saving-menu
  .title,
.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .notification-menu
  .title,
.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .application-menu
  .title {
  color: var(--Text-Primary, #313131);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 12px;
}

@media only screen and (max-width: 767px) {
  .settings-modal
    .settings-modal-content
    .settings-tabs
    .setting-tab-panel
    .transcription-menu
    .title,
  .settings-modal
    .settings-modal-content
    .settings-tabs
    .setting-tab-panel
    .data-saving-menu
    .title,
  .settings-modal
    .settings-modal-content
    .settings-tabs
    .setting-tab-panel
    .notification-menu
    .title,
  .settings-modal
    .settings-modal-content
    .settings-tabs
    .setting-tab-panel
    .application-menu
    .title {
    font-size: 16px;
  }
}

.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .transcription-menu
  .sub-title,
.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .data-saving-menu
  .sub-title,
.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .notification-menu
  .sub-title,
.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .application-menu
  .sub-title {
  color: var(--Text-Primary, #313131);
  font-size: 14px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 20px;
  margin: 12px 0;
}

.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .form {
  gap: 10px;
}

.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .form
  .row {
  align-items: center;
  margin-bottom: 10px;
  flex: 2 1;
}

.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .form
  .row
  .col
  span {
  color: var(--Text-Primary, #313131) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .settings-modal
    .settings-modal-content
    .settings-tabs
    .setting-tab-panel
    .form
    .row
    .col
    span {
    font-size: 16px;
  }
}

.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .form
  .row
  .col:first-child {
  flex-grow: 2;
}

.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .form
  .row
  .col:last-child {
  flex-grow: 1;
}

.settings-modal
  .settings-modal-content
  .settings-tabs
  .setting-tab-panel
  .form
  .custom-input {
  padding: var(--p-space-150) var(--p-space-300);
  border-radius: var(--p-border-radius-button);
  border: 0.66px solid var(--Border-01, #c8c8c8);
  background: var(--BG-00, #fff);
  color: var(--Text-Primary, #313131);
}

@media only screen and (max-width: 1024px) {
  .settings-modal .settings-modal-content .settings-tabs .setting-tab-panel {
    width: 100% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .settings-modal .settings-modal-content .settings-tabs .setting-tab-panel {
    min-height: 540px;
    max-height: 540px;
    overflow: auto;
  }
}

@media only screen and (max-width: 767px) {
  .settings-modal .settings-modal-content .settings-tabs .setting-tab-panel {
    min-height: 580px;
    max-height: 580px;
    overflow: auto;
  }
}

.modal-session-details .session-details-content .join-container .copy-join-url {
  color: var(--icon-secondary-light, #5f6166);
}

.modal-connection-status .simple-modal-content .copy-container .copyStats {
  color: var(--text-link-light, #1087ff);
}

.modal-connection-status .simple-modal-content .list-connections {
  min-height: 268px;
}

.modal-dialog-centered .meeting-ended-button {
  color: var(--text-link-light, #1087ff);
}

/*Remove user model*/
.ReactModal__Content.remove-user-modal {
  width: 500px;
}

.ReactModal__Content.remove-user-modal .modal-header {
  border-bottom: 1px solid var(--Border-00, #efefef);
}

.ReactModal__Content.remove-user-modal .remove-user-content {
  text-align: unset;
  width: 100%;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.ReactModal__Content.remove-user-modal .remove-user-content .remove-user-desc {
  color: var(--Text-Primary, #313131);
  /* Medium/S */
  font-size: 14px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 20px;
  /* 142.857% */
}

@media screen and (max-width: 1024px) {
  .ReactModal__Content.remove-user-modal
    .remove-user-content
    .remove-user-desc {
    font-size: 16px !important;
    line-height: 20px;
  }
}

.ReactModal__Content.remove-user-modal
  .remove-user-content
  .remove-user-checkbox {
  grid-template-columns: unset;
  color: var(--text-secondary-light, #6f767e);
  /* Medium/S */
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 20px;
  /* 142.857% */
}

.ReactModal__Content.remove-user-modal
  .remove-user-content
  .remove-user-checkbox
  #confirmationCheckbox {
  height: 14px;
  width: 14px;
}

@media screen and (max-width: 1024px) {
  .ReactModal__Content.remove-user-modal
    .remove-user-content
    .remove-user-checkbox {
    font-size: 16px !important;
    line-height: 20px;
  }
}

.ReactModal__Content.remove-user-modal .remove-user-footer {
  padding: 16px 12px 0 12px;
  margin: 0;
  border-top: 1px solid var(--border-00-light, #efefef);
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .ReactModal__Content.remove-user-modal .remove-user-footer {
    padding: 16px 0 0 0;
  }
}

.meetingEndedModal {
  background-color: var(--bg-00-light, #fff);
  color: var(--Text-Primary, #313131);
}

@media (min-width: 768px) and (max-width: 1024px) {
  .meetingEndedModal .meetingEndedModal-content .meetingEndedModal-title {
    font-size: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .meetingEndedModal
    .meetingEndedModal-content
    .meetingEndedModal-messageEnded {
    font-size: 16px !important;
  }
}

.meetingEndedModal .meetingEndedModal-content .viewLearningAnalyticsDashboard {
  margin-top: 0;
}

/*Remove user model*/
.ReactModal__Content.lock-viewer-modal {
  width: 500px;
}

.ReactModal__Content.lock-viewer-modal .modal-header {
  border-bottom: 1px solid var(--Border-00, #efefef);
}

.ReactModal__Content.lock-viewer-modal .modal-content {
  padding: unset;
}

.ReactModal__Content.lock-viewer-modal .modal-content .lock-viewer-content {
  text-align: unset;
  width: 100%;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 16px 0;
}

.ReactModal__Content.lock-viewer-modal
  .modal-content
  .lock-viewer-content
  .lock-viewer-desc {
  margin-bottom: unset;
  color: var(--Text-Secondary, #6f767e);
  /* Regular/S */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

@media (max-width: 1024px) {
  .ReactModal__Content.lock-viewer-modal
    .modal-content
    .lock-viewer-content
    .lock-viewer-desc {
    font-size: 16px !important;
  }
}

.ReactModal__Content.lock-viewer-modal
  .modal-content
  .lock-viewer-content
  .lock-viewer-form {
  border: unset;
}

.ReactModal__Content.lock-viewer-modal
  .modal-content
  .lock-viewer-content
  .lock-viewer-form
  .lock-viewer-tbl-header {
  color: var(--Text-Secondary, #6f767e);
  /* Semibold/S */
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 142.857% */
}

@media (max-width: 1024px) {
  .ReactModal__Content.lock-viewer-modal
    .modal-content
    .lock-viewer-content
    .lock-viewer-form
    .lock-viewer-tbl-header {
    margin-bottom: 16px;
    font-size: 16px !important;
  }
}

.ReactModal__Content.lock-viewer-modal
  .modal-content
  .lock-viewer-content
  .lock-viewer-form
  .lock-viewer-left-label {
  color: var(--Text-Primary, #313131);
  /* Regular/S */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

@media (max-width: 1024px) {
  .ReactModal__Content.lock-viewer-modal
    .modal-content
    .lock-viewer-content
    .lock-viewer-form
    .lock-viewer-left-label {
    font-size: 16px !important;
  }
}

.ReactModal__Content.lock-viewer-modal
  .modal-content
  .lock-viewer-content
  .lock-viewer-form
  .lock-viewer-tbl-row {
  margin-bottom: 12px;
}

.ReactModal__Content.lock-viewer-modal .modal-content .lock-viewer-footer {
  padding: 12px 16px;
  margin: 0;
  border-top: 1px solid var(--border-00-light, #efefef);
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
}

@media (min-width: 1025px) {
  .ReactModal__Content.lock-viewer-modal .modal-content .lock-viewer-footer {
    width: 500px;
  }
}

.ReactModal__Content.lock-viewer-modal
  .modal-content
  .lock-viewer-footer
  .btn-primary {
  margin: 0 0 0 8px;
}

/*Guest policy*/
.ReactModal__Content.policy-modal {
  width: 500px;
}

.ReactModal__Content.policy-modal .modal-header {
  border-bottom: 1px solid var(--Border-00, #efefef);
}

.ReactModal__Content.policy-modal .modal-content {
  padding: unset;
}

.ReactModal__Content.policy-modal .modal-content .policy-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  margin: unset;
}

@media (max-width: 1024px) {
  .ReactModal__Content.policy-modal .modal-content .policy-container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .ReactModal__Content.policy-modal
    .modal-content
    .policy-container
    .policy-content {
    width: 100%;
  }
}

.ReactModal__Content.policy-modal
  .modal-content
  .policy-container
  .policy-desc {
  color: var(--Text-Primary, #313131);
  margin-bottom: 16px;
  /* Regular/S */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

@media (max-width: 1024px) {
  .ReactModal__Content.policy-modal
    .modal-content
    .policy-container
    .policy-desc {
    font-size: 16px !important;
  }
}

.ReactModal__Content.policy-modal
  .modal-content
  .policy-container
  .policy-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

@media (max-width: 1024px) {
  .ReactModal__Content.policy-modal
    .modal-content
    .policy-container
    .policy-radio-group {
    width: 100%;
    font-size: 16px !important;
  }
}

.ReactModal__Content.policy-modal
  .modal-content
  .policy-container
  .policy-radio-group
  .policy-radio-label {
  display: flex;
  width: 468px;
  height: 44px;
  padding: 12px 8px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--border-00-light, #efefef);
  background: var(--bg-00-light, #fff);
  color: var(--Text-Primary, #313131);
  /* Regular/S */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
}

.ReactModal__Content.policy-modal
  .modal-content
  .policy-container
  .policy-radio-group
  .policy-radio-label
  input[type="radio"] {
  width: 14px;
  height: 14px;
}

.ReactModal__Content.policy-modal
  .modal-content
  .policy-container
  .policy-radio-group
  .policy-radio-label
  input[type="radio"]:checked {
  accent-color: var(--Primary-01, #ee0033) !important;
  [data-darkreader-scheme="dark"] & {
    accent-color: #ff665a !important;
  }
}

@media (max-width: 1024px) {
  .ReactModal__Content.policy-modal
    .modal-content
    .policy-container
    .policy-radio-group
    .policy-radio-label {
    width: 100%;
    font-size: 16px !important;
  }
}

.ReactModal__Content.policy-modal .modal-content .policy-footer {
  padding: 12px 16px;
  margin: 0;
  border-top: 1px solid var(--border-00-light, #efefef);
  justify-content: flex-end;
  gap: 8px;
  align-items: center;
  width: 500px;
}

.ReactModal__Content.policy-modal .modal-content .policy-footer .btn-primary {
  margin: 0 0 0 8px;
}

@media (max-width: 1024px) {
  .ReactModal__Content.policy-modal .modal-content .policy-footer {
    width: unset;
  }
}

.modal-end-meeting .modal-header .modal-title {
  padding-left: 0;
}

.modal-end-meeting .modal-content .remove-user-footer {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 767px) {
  .modalOverlay:has(.model-custom-mobile) {
    align-items: end;
  }

  .model-custom-mobile {
    width: 100vw !important;
    max-width: 100vw !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .model-custom-mobile .footer-model-custom-mobile {
    /*width: 100%;*/
    gap: 4px;
  }

  .model-custom-mobile .footer-model-custom-mobile button {
    width: 100%;
  }

  .model-custom-mobile .modal-title {
    padding: 0px !important;
  }
}

@media (max-width: 1024px) {
  .modalOverlay:has(.model-custom-tablet) {
    align-items: end;
  }

  .model-custom-tablet {
    width: 100vw !important;
    max-width: 100vw !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .model-custom-tablet .footer-model-custom-tablet {
    width: 100%;
    gap: 4px;
  }

  .model-custom-tablet .footer-model-custom-tablet button {
    width: 100%;
  }

  .model-custom-tablet .modal-title {
    padding: 0px !important;
  }
}

.css-ton3fx-MuiButtonBase-root-MuiMenuItem-root:hover {
  [data-darkreader-scheme="dark"] & {
    background-color: #333335 !important;
  }
}
