.col-text-left {
  text-align: left;
}
[dir="rtl"] .col-text-left {
  text-align: right;
}

.col-text-right {
  text-align: right;
}
[dir="rtl"] .col-text-right {
  text-align: left;
}

@media (max-width: 640px) {
  .col-text-right {
    text-align: left;
  }
  [dir="rtl"] .col-text-right {
    text-align: right;
  }
}

.card-restyle {
  height: 120px;
  padding: 16px 22px !important;
  align-items: center;
  border-radius: 8px;
}

.card-restyle-user-inactive {
  border-left: 4px solid transparent !important; !important;
  background-color: var(--Secondary-01, #FBE3E8) !important;
  align-items: center;
}
.card-restyle-score-inactive {
  border-left: 4px solid transparent !important;
  background: var(--Secondary-02, #DEF3E7) !important;
  align-items: center;
}
.card-restyle-time-inactive {
  border-left: 4px solid transparent !important;
  background: var(--Secondary-05, #E2F5FD) !important;
  align-items: center;
}
.card-restyle-poll-inactive {
  border-left: 4px solid transparent !important;
  background: var(--Secondary-04, #E4DFF9) !important;
  align-items: center;
}

.card-restyle-user {
  border-left: 4px solid var(--Highlight-Light-Red, #EB5366) !important;
  background-color: var(--Secondary-01, #FBE3E8) !important;
  align-items: center;
}
.card-restyle-score {
  border-left: 4px solid var(--Highlight-Green, #6CC17C) !important;
  background: var(--Secondary-02, #DEF3E7) !important;
  align-items: center;
}
.card-restyle-time {
  border-left: 4px solid var(--Highlight-Cyan, #1BC8FF) !important;
  background: var(--Secondary-05, #E2F5FD) !important;
  align-items: center;
}
.card-restyle-poll {
  border-left: 4px solid var(--Highlight-Purple, #9207FF) !important;
  background: var(--Secondary-04, #E4DFF9) !important;
  align-items: center;
}

.db-icon-restyle {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  padding: 0.7rem;
}

.db-icon-user {
  background: var(--Highlight-Light-Red, #EB5366);
}
.db-icon-score {
  background: var(--Highlight-Green, #6CC17C);
}
.db-icon-time {
  background: var(--Highlight-Cyan, #1BC8FF);
}
.db-icon-poll {
  background: var(--Highlight-Purple, #9207FF);
}