.col-text-left {
  text-align: left;
}
[dir="rtl"] .col-text-left {
  text-align: right;
}

.col-text-right {
  text-align: right;
}
[dir="rtl"] .col-text-right {
  text-align: left;
}

@media (max-width: 640px) {
  .col-text-right {
    text-align: left;
  }
  [dir="rtl"] .col-text-right {
    text-align: right;
  }
}

.card-restyle {
  height: 120px;
  padding: 16px 22px !important;
  align-items: center;
  border-radius: 8px;
  border-left-width: 4px;
}

.card-restyle-inactive {
  border-left-color: transparent !important;
}

.card-restyle .MuiPaper-root {
  background: transparent;
  box-shadow: none;
  border-style: none;
}

.card-restyle-content {
  align-items: center;
  background-color: transparent !important;
  border: none;
}

.card-restyle-uer {
  border-left-color: var(--Highlight-Light-Red, #EB5366) !important;
}
.card-restyle-score {
  border-left-color: var(--Highlight-Green, #6CC17C) !important;
}
.card-restyle-time {
  border-left-color: var(--Highlight-Cyan, #1BC8FF) !important;
}
.card-restyle-poll {
  border-left-color: var(--Highlight-Purple, #9207FF) !important;
}

.db-icon-restyle {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  border-radius: 8px;
  width: 44px;
  height: 44px;
  padding: 0.7rem;
}

.db-icon-user {
  background: var(--Highlight-Light-Red, #EB5366);
}
.db-icon-score {
  background: var(--Highlight-Green, #6CC17C);
}
.db-icon-time {
  background: var(--Highlight-Cyan, #1BC8FF);
}
.db-icon-poll {
  background: var(--Highlight-Purple, #9207FF);
}