.modal-session-details {
  background-color: #fff;
  max-width: 500px;

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    max-width: 500px !important;
  }

  @media (max-width: 767px) {
    top: unset !important;
    left: unset !important;
  }
  @media (max-width: 1024px) {
    left: unset !important;
  }
  .modal-header{
    background-color: #fff !important;
    border-bottom: none !important;
  }
  @media only screen and (min-width: 1025px) {
    .modal-content {
      padding-bottom: 24px;
    }
    max-width: 500px !important;
  }
}

.modal-session-details .modal-header {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h2 {
    margin: 0px !important;
    color: #313131;
    font-size: 18px;
    font-weight: 600;
     
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
}

.session-details-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
  color: var(--text-primary-light, #313131);
  b {
    color: var(--text-primary-light, #313131);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }
}

.modal-session-details u {
  color: #1087ff;
  text-decoration: underline;
}
